<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <h1 class="text-center">Contact Details</h1>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Phone No.</th>
            <th class="text-center">Status</th>
            <th class="text-center">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td class="text-center">{{ user.id }}</td>
            <td class="text-center">{{ user.firstName }}</td>
            <td class="text-center">{{ user.lastName }}</td>
            <td class="text-center">{{ user.email }}</td>
            <td class="text-center">{{ user.mobile }}</td>
            <td class="text-center">{{ user.status }}</td>

            <td class="text-center">
              <button
                type="button"
                class="btn btn-info btn-sm mr-2"
                (click)="showEditUserForm(user)"
              >
                Edit
              </button>

              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="removeUser(user)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success" (click)="showAddUserForm()">
        Add New User
      </button>

      <div class="mt-4">
        <form *ngIf="userForm">
          <h2>Add New User</h2>

          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              name="firstName"
              class="form-control"
              [(ngModel)]="newUser.firstName"
            />
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              name="lastName"
              class="form-control"
              [(ngModel)]="newUser.lastName"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              name="email"
              class="form-control"
              [(ngModel)]="newUser.email"
            />
          </div>
          <div class="form-group">
            <label for="mobile">Phone Number</label>
            <input
              type="text"
              name="mobile"
              class="form-control"
              [(ngModel)]="newUser.mobile"
            />
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <input
              type="text"
              name="status"
              class="form-control"
              [(ngModel)]="newUser.status"
            />
          </div>
          <br>
          <div class="form-group">
            <button
              type="button"
              class="btn btn-primary mr-2"
              (click)="saveUser(newUser)"
            >
              Submit
            </button>
            <button
              type="button"
              class="btn btn-warning"
              (click)="cancelNewUser()"
            >
              Cancel
            </button>
          </div>

          
        </form>

        <form *ngIf="editUserForm">
          <h2>Edit User Details</h2>

          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              name="firstName"
              required
              class="form-control"
              [(ngModel)]="editedUser.firstName"
            />
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              name="lastName"
              class="form-control"
              [(ngModel)]="editedUser.lastName"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              name="email"
              class="form-control"
              [(ngModel)]="editedUser.email"
            />
          </div>
          <div class="form-group">
            <label for="mobile">Phone Number</label>
            <input
              type="text"
              name="mobile"
              class="form-control"
              [(ngModel)]="editedUser.mobile"
            />
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <input
              type="text"
              name="status"
              class="form-control"
              [(ngModel)]="editedUser.status"
            />
          </div>

          <br>
          <div class="form-group">
              <button
              type="button"
              class="btn btn-primary mr-2"
              (click)="updateUser()"
            >
              Submit
            </button>
            <button
              type="button"
              class="btn btn-warning m-20"
              (click)="cancelEdits()"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
